/* -------------------- RESET -------------------- */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  box-sizing: border-box; }

input, textarea, select {
  -webkit-appearance: none; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: initial; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on; }

/* -------------------- RESET -------------------- */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }
/* font-family: "MuseoSansRegular"; */
@font-face {
  font-family: "MuseoSans";
  src: url("./fonts/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("./fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"), url("./fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "MuseoSansBold"; */
@font-face {
  font-family: "MuseoSans";
  src: url("./fonts/MuseoSansBold/MuseoSansBold.eot");
  src: url("./fonts/MuseoSansBold/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"), url("./fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }
/* font-family: "MuseoSansItalic"; */
@font-face {
  font-family: "MuseoSans";
  src: url("./fonts/MuseoSansItalic/MuseoSansItalic.eot");
  src: url("./fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"), url("./fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }
/* font-family: "MuseoSansLight"; */
@font-face {
  font-family: "MuseoSans";
  src: url("./fonts/MuseoSansLight/MuseoSansLight.eot");
  src: url("./fonts/MuseoSansLight/MuseoSansLight.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"), url("./fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }
/* font-family: "MuseoSansMedium"; */
@font-face {
  font-family: "MuseoSans";
  src: url("./fonts/MuseoSansMedium/MuseoSansMedium.eot");
  src: url("./fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"), url("./fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }
/* font-family: "MuseoSansBlack"; */
@font-face {
  font-family: "MuseoSans";
  src: url("./fonts/MuseoSansBlack/MuseoSansBlack.eot");
  src: url("./fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"), url("./fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }
/* font-family: "MuseoSansBoldItalic"; */
@font-face {
  font-family: "MuseoSans";
  src: url("./fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
  src: url("./fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"), url("./fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600; }
/* font-family: "MuseoSansMediumItalic"; */
@font-face {
  font-family: "MuseoSans";
  src: url("./fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
  src: url("./fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"), url("./fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500; }
/* font-family: "MuseoSansLightItalic"; */
@font-face {
  font-family: "MuseoSans";
  src: url("./fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot");
  src: url("./fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"), url("./fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300; }
/* font-family: "MuseoSansBlackItalic"; */
@font-face {
  font-family: "MuseoSans";
  src: url("./fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot");
  src: url("./fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.woff") format("woff"), url("./fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900; }
.main-wrapper {
  background: #fff;
  font-family: "MuseoSans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
  overflow: hidden;
  zoom: .79; }

.first-screen {
  background: linear-gradient(to right, #222933 0%, #262c37 100%);
  position: relative;
  min-height: 780px;
  color: #fff;
  padding-bottom: 30px; }
  .first-screen > .container {
    position: relative;
    z-index: 2; }
    .first-screen > .container .inner-relative {
      position: relative;
      z-index: 2; }

.key {
  position: absolute;
  z-index: 1; }
  .key.key-1 {
    right: -50px;
    top: 85px; }
  .key.key-2 {
    left: -110px;
    bottom: 0; }
  .key.key-3 {
    left: -30px;
    top: 20px; }
  .key.key-4 {
    top: -60px;
    right: 260px; }
  .key.key-5 {
    left: 40px;
    bottom: 80px; }
  .key.key-6 {
    left: 280px;
    top: -110px; }
  .key.key-7 {
    right: -230px;
    bottom: 0; }
  .key.key-8 {
    left: -43px;
    top: 200px; }
  .key.key-9 {
    right: -30px;
    top: 150px; }
  .key.key-10 {
    top: 850px;
    left: -250px; }
  .key.key-11 {
    bottom: 100px;
    right: -90px; }
  .key.key-12 {
    top: 0;
    left: -280px; }
  .key.key-13 {
    bottom: 0;
    right: -50px; }
  .key.key-14 {
    left: -30px;
    top: -30px; }
  .key.key-15 {
    right: -100px;
    top: 300px; }
  .key.key-16 {
    right: -50px;
    top: 400px; }
  .key.key-17 {
    bottom: 0;
    right: -20px; }
  .key.key-18 {
    left: -100px;
    top: 0; }
  .key.key-19 {
    top: -10px;
    left: 110px; }
  .key.key-20 {
    top: 150px;
    right: -160px; }
  .key.key-21 {
    top: 350px;
    right: 230px; }
  .key.key-22 {
    left: -40px;
    bottom: 100px; }

.site-header {
  padding-top: 45px;
  position: relative;
  z-index: 3; }

.site-header__contact {
  text-align: right; }
  .site-header__contact p {
    text-align: right;
    font-size: 20px;
    margin-bottom: 3px; }
  .site-header__contact a {
    color: #a5e9ff;
    font-size: 20px;
    transition: color .2s;
    text-decoration: underline; }
    .site-header__contact a:hover, .site-header__contact a:focus {
      color: #ff2828; }

.first-screen__title {
  margin-top: 50px;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 45px;
  text-align: center; }

.first-screen__subtitle {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin-bottom: 75px; }

.first-screen__form {
  position: relative;
  text-align: center;
  margin-bottom: 80px; }

.first-screen__form-input {
  padding: 15px 20px;
  border-radius: 5px;
  display: block;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #006ac4;
  color: #000;
  font-size: 27px;
  font-weight: 300;
  min-width: 540px;
  margin-right: 30px; }
  .first-screen__form-input::-webkit-input-placeholder {
    color: #707070; }
  .first-screen__form-input:-moz-placeholder {
    color: #707070; }
  .first-screen__form-input:-ms-input-placeholder {
    color: #707070; }

.first-screen__form-submit {
  font-size: 27px;
  font-weight: 300;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #ff2828;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ff2828; }

.first-screen__go-down {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  transition: color .2s; }
  .first-screen__go-down span {
    display: block; }
  .first-screen__go-down:hover {
    color: #ff2828; }

.about-section {
  padding: 60px 0;
  background: linear-gradient(to bottom, #f8f8f8 64%, #e3ece7 100%);
  margin-bottom: -30px; }
  .about-section > .container {
    position: relative;
    z-index: 2; }
    .about-section > .container .inner-relative {
      position: relative;
      z-index: 2; }

.container .inner-relative {
  position: relative;
  z-index: 2; }

.about-section__block {
  margin-bottom: 20px;
  position: relative;
  display: block;
  overflow: hidden; }
  .about-section__block h2 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
    color: #000;
    transition: color .2s; }
  .about-section__block p {
    font-weight: 300;
    font-size: 20px; }
  .about-section__block img {
    width: 100%;
    transition: transform .2s; }
  .about-section__block:hover h2 {
    color: #ff2828; }
  .about-section__block:hover img {
    transform: scale(1.12); }

.about-section__block-image {
  border-top-right-radius: 30px;
  overflow: hidden;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to bottom, #f8f8f8 64%, #e3ece7 100%);
  position: relative; }

.about-section__block-image--big {
  height: 723px;
  background: #000; }
  .about-section__block-image--big img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%; }
  .about-section__block-image--big:hover img {
    transform: translate(-50%, -50%) scale(1.12); }

.about-section__block-image--medium {
  height: 309px; }

.about-section__link-wrapper {
  text-align: center;
  margin-top: 30px; }

.about-section__link {
  background-color: #ff2828;
  padding: 15px 30px;
  color: #fff;
  font-size: 27px;
  font-weight: 300;
  display: inline-block;
  border-radius: 10px;
  border-bottom: 3px solid #841111; }
  .about-section__link:hover, .about-section__link:focus {
    color: #fff; }

.numbers-section {
  position: relative;
  min-height: 521px;
  background: url("../images/number-section.png") center no-repeat;
  background-size: cover;
  padding: 50px 0;
  padding-top: 70px;
  color: #fff;
  z-index: 4; }

.numbers-section__title {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  margin-bottom: 97px; }

.numbers-section__block {
  text-align: center;
  position: relative;
  height: 170px; }
  .numbers-section__block span {
    font-weight: 500;
    font-size: 55px;
    margin-bottom: 30px;
    display: block; }
  .numbers-section__block p {
    font-weight: 300;
    font-size: 24px; }
  .numbers-section__block:before {
    content: '';
    display: block;
    background: url("../images/numbers-section__block.png") center no-repeat;
    width: 197px;
    height: 197px;
    position: absolute;
    top: -52px;
    left: 50%;
    transform: translate(-50%, 0); }

.loong-bg-wrapper {
  min-height: 2477px;
  background: url("../images/sky-bg.png") top center no-repeat;
  background-size: 100%; }

.video-prezentation {
  padding: 60px 0; }
  .video-prezentation p {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 30px; }
  .video-prezentation > .container {
    position: relative;
    z-index: 2; }

.video-prezentation__title {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  margin-bottom: 60px; }

.global-red-link-wrapper {
  text-align: center; }

.global-red-link {
  background-color: #ff2828;
  padding: 15px 30px;
  color: #fff;
  font-size: 27px;
  font-weight: 300;
  display: inline-block;
  border-radius: 10px;
  border-bottom: 3px solid #841111; }
  .global-red-link:hover, .global-red-link:focus {
    color: #fff; }

.video-prezentation__video {
  position: relative;
  width: 100%;
  height: 350px;
  display: block;
  overflow: hidden; }
  .video-prezentation__video img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }

.video-prezentation__video-play {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #f14742;
  font-size: 70px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff; }
  .video-prezentation__video-play i {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%); }

.ask-question {
  padding: 60px 0;
  position: relative;
  z-index: 4; }

.ask-question__title {
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 60px;
  text-align: center; }

.ask-question__textarea {
  padding: 29px 24px;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  font-weight: 300;
  color: #000;
  font-size: 20px;
  display: block;
  width: 100%;
  min-height: 175px;
  margin-bottom: 30px; }
  .ask-question__textarea::-webkit-input-placeholder {
    color: #c4c3c3; }
  .ask-question__textarea:-moz-placeholder {
    color: #c4c3c3; }
  .ask-question__textarea:-ms-input-placeholder {
    color: #c4c3c3; }

.ask-question__subtitle {
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px; }

.ask-question__block {
  padding: 23px;
  background-color: #fafafa;
  text-align: center;
  min-height: 370px;
  margin-bottom: 30px;
  border: 2px solid transparent;
  transition: border-color .2s;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
  .ask-question__block h4 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 15px; }
  .ask-question__block p {
    font-weight: 300;
    font-size: 17px; }
  .ask-question__block:hover, .ask-question__block:focus, .ask-question__block.active {
    border-color: #36d16f; }

.ask-question__block-image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative; }
  .ask-question__block-image img {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; }

.ask-question__submit {
  margin-top: 60px; }

.our-products {
  padding: 60px 0; }
  .our-products > .container {
    position: relative;
    z-index: 2; }

.our-products__block {
  margin-bottom: 60px;
  position: relative; }
  .our-products__block h3 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 15px; }
  .our-products__block p {
    font-weight: 300;
    font-size: 24px; }

.our-products__block-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 280px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-top-right-radius: 30px; }
  .our-products__block-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; }

.label {
  position: absolute;
  top: 43%;
  right: -6px;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  width: 120px;
  height: 49px;
  padding: 11px 0;
  padding-left: 27px; }
  .label.label--red {
    background: url("../images/label-red.png") center no-repeat; }
  .label.label--blue {
    background: url("../images/label-blue.png") center no-repeat; }

.already-have-quest {
  padding: 60px 0;
  color: #fff;
  background-color: #191919;
  position: relative;
  z-index: 4; }
  .already-have-quest:before {
    content: '';
    width: 110%;
    left: -5%;
    top: -50px;
    height: 100px;
    background-color: #191919;
    transform: rotate(-2deg);
    display: block;
    position: absolute; }
  .already-have-quest:after {
    content: '';
    width: 110%;
    left: -5%;
    bottom: -50px;
    height: 100px;
    background-color: #191919;
    transform: rotate(-2deg);
    display: block;
    position: absolute; }

.already-have-quest__title {
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 60px;
  text-align: center;
  color: #fff; }

.already-have-quest__block {
  margin-bottom: 60px;
  display: block; }
  .already-have-quest__block h3 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 15px;
    color: #fff; }
  .already-have-quest__block p {
    font-weight: 300;
    font-size: 24px;
    color: #fff; }

.already-have-quest__block-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 280px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-top-right-radius: 30px; }
  .already-have-quest__block-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; }

.already-have-quest__link {
  margin-top: 60px; }

.have-question {
  padding: 60px 0;
  background: url("../images/wall-bg.png") top center no-repeat;
  background-size: cover;
  min-height: 700px;
  margin-top: 30px; }
  .have-question > .container {
    position: relative; }
  .have-question .first-screen__form-input {
    border-color: #707070; }

.have-question__title {
  font-size: 60px;
  margin-bottom: 60px;
  font-weight: 500;
  text-align: center; }

.have-question__text {
  padding-top: 30px;
  border-top: 1px solid #d4d4d4; }
  .have-question__text h3 {
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 30px; }
  .have-question__text p {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px; }

.site-footer {
  padding: 40px 0;
  background-color: #191919;
  text-align: center; }
  .site-footer a {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    transition: color .2s; }
    .site-footer a:hover, .site-footer a:focus {
      color: #ff2828; }

.popup {
  display: none; }

.tingle-modal__close {
  outline: none !important; }

.custom-modal {
  font-family: "MuseoSans", sans-serif; }
  .custom-modal .relative-inner {
    position: relative;
    z-index: 2; }
  .custom-modal .tingle-modal-box {
    max-width: 950px;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    transform: scale(0.79); }
  .custom-modal .tingle-modal-box__content {
    max-width: 950px;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px;
    padding-top: 90px;
    position: relative; }
    .custom-modal .tingle-modal-box__content .relative-inner > h2 {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 43px;
      text-transform: uppercase; }
    .custom-modal .tingle-modal-box__content .relative-inner > h3 {
      font-weight: 300;
      font-size: 25px;
      margin-bottom: 50px; }
    .custom-modal .tingle-modal-box__content .popup__form {
      margin-top: 30px; }
    .custom-modal .tingle-modal-box__content .popup__form-tel, .custom-modal .tingle-modal-box__content .popup__form-mail {
      display: block;
      max-width: 450px;
      margin: 0 auto;
      margin-bottom: 25px;
      background-color: #fff;
      border: 1px solid #707070;
      color: #000;
      padding: 16px;
      width: 100%;
      text-align: center;
      font-weight: 300;
      font-size: 28px;
      border-radius: 5px; }
      .custom-modal .tingle-modal-box__content .popup__form-tel::-webkit-input-placeholder, .custom-modal .tingle-modal-box__content .popup__form-mail::-webkit-input-placeholder {
        color: #707070; }
      .custom-modal .tingle-modal-box__content .popup__form-tel:-moz-placeholder, .custom-modal .tingle-modal-box__content .popup__form-mail:-moz-placeholder {
        color: #707070; }
      .custom-modal .tingle-modal-box__content .popup__form-tel:-ms-input-placeholder, .custom-modal .tingle-modal-box__content .popup__form-mail:-ms-input-placeholder {
        color: #707070; }
  .custom-modal.get-scenario-modal .tingle-modal-box__content {
    text-align: center; }
  .custom-modal.thank-you-scenario-modal .tingle-modal-box__content .relative-inner > h2 {
    text-transform: initial;
    text-align: center; }
  .custom-modal.thank-you-scenario-modal .tingle-modal-box__content .relative-inner > h3 {
    text-align: center; }
  .custom-modal.thank-you-scenario-modal .tingle-modal-box__content .our-products__block h3 {
    font-size: 25px; }
  .custom-modal.thank-you-scenario-modal .tingle-modal-box__content .our-products__block p {
    font-size: 18px; }
  .custom-modal.thank-you-scenario-modal .tingle-modal-box__content .our-products__block-image {
    height: 160px; }
    .custom-modal.thank-you-scenario-modal .tingle-modal-box__content .our-products__block-image img {
      width: 100%; }
  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .relative-inner > h2 {
    text-transform: initial;
    text-align: center; }
  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .relative-inner > h3 {
    text-align: center; }
  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .our-products__block h3 {
    font-size: 25px; }
  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .our-products__block p {
    font-size: 18px; }
  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .global-red-link {
    font-size: 20px;
    display: block;
    width: 100%;
    font-weight: 600; }
  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .our-products__block-image {
    height: 260px; }
  .custom-modal.thank-you-guest-modal .our-products__block {
    margin-bottom: 20px; }

.page-first-screen {
  background: url("../images/page-bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 580px;
  color: #fff; }
  .page-first-screen > .container {
    position: relative;
    z-index: 2; }
    .page-first-screen > .container .inner-relative {
      position: relative;
      z-index: 2; }

.page-content {
  padding: 60px 0;
  position: relative;
  z-index: 3; }
  .page-content h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px; }
  .page-content p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
    text-indent: 75px; }

.float-left {
  float: left;
  margin-right: 35px;
  margin-bottom: 35px; }

.custom-modal.thank-you-guest-modal .tingle-modal-box__content .our-products__block p {
  min-height: 66px; }

.popup__form-payments {
  margin: 30px auto; }

.article-link {
  display: block;
  margin-bottom: 30px; }
  .article-link img {
    display: block;
    border-top-right-radius: 30px; }
  .article-link span {
    font-weight: 300;
    font-size: 20px;
    color: #000;
    transition: color .2s; }
  .article-link:hover span, .article-link:focus span {
    color: #ff2828; }
  .article-link:hover .article-link-image img, .article-link:focus .article-link-image img {
    transform: scale(1.2); }

.article-link-image {
  height: 150px;
  overflow: hidden;
  margin-bottom: 15px; }
  .article-link-image img {
    width: 100%;
    transition: transform .2s; }

.popup__form-payments-block {
  padding: 15px;
  background-color: transparent;
  border: 1px solid transparent;
  height: 100px;
  position: relative;
  transition: background-color .2s, border-color .2s; }
  .popup__form-payments-block:hover, .popup__form-payments-block:focus, .popup__form-payments-block.active {
    background-color: #f7f7f7;
    border-color: #ff2828; }
  .popup__form-payments-block img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.overlay-access-inner {
  max-width: 750px;
  margin: 0 auto; }

.overlay-access {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.93);
  padding: 15px;
  padding-top: 100px;
  text-align: center; }
  .overlay-access.show {
    display: block; }
  .overlay-access h2 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 43px;
    text-transform: uppercase; }
  .overlay-access h3 {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 50px; }
  .overlay-access .popup__form {
    margin-top: 30px; }
  .overlay-access .popup__form-tel, .overlay-access .popup__form-mail {
    display: block;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: #fff;
    border: 1px solid #707070;
    color: #000;
    padding: 16px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    border-radius: 5px; }
    .overlay-access .popup__form-tel::-webkit-input-placeholder, .overlay-access .popup__form-mail::-webkit-input-placeholder {
      color: #707070; }
    .overlay-access .popup__form-tel:-moz-placeholder, .overlay-access .popup__form-mail:-moz-placeholder {
      color: #707070; }
    .overlay-access .popup__form-tel:-ms-input-placeholder, .overlay-access .popup__form-mail:-ms-input-placeholder {
      color: #707070; }

@media only screen and (min-width: 991px) and (max-width: 1199px) {
  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .global-red-link {
    font-size: 19px; }

  .float-left {
    margin-right: 20px;
    margin-bottom: 0; }

  .ask-question__title {
    font-size: 50px; }

  .ask-question__block h4 {
    font-size: 19px; }

  .our-products__block p {
    font-size: 20px; } }
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .key.key-6 {
    display: none; }

  .first-screen__form-input {
    margin: 0 auto;
    margin-bottom: 30px; }

  .about-section__block-image--big {
    height: 637px; }

  .about-section__block-image--medium {
    height: 250px; }

  .numbers-section__block:before {
    width: 168px; }

  .numbers-section__title {
    font-size: 40px; }

  .global-red-link {
    font-size: 20px; }

  .video-prezentation__video {
    height: 305px; }

  .video-prezentation p {
    font-size: 23px;
    margin-bottom: 25px; }

  .ask-question__title {
    font-size: 45px; }

  .ask-question__block h4 {
    font-size: 16px; }

  .ask-question__block {
    min-height: 380px; }

  .tingle-modal__close {
    color: #827f7f !important;
    position: absolute;
    top: 3%;
    right: 5%; }

  .thank-you-scenario-modal .tingle-modal__close, .thank-you-guest-modal .tingle-modal__close {
    top: 8%; }

  .custom-modal.thank-you-scenario-modal .tingle-modal-box__content .our-products__block-image img {
    width: 420px; }

  .custom-modal .tingle-modal-box__content .relative-inner > h2 {
    font-size: 28px; }

  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .global-red-link {
    font-size: 18px;
    font-weight: 600; } }
@media only screen and (max-width: 767px) {
  .site-header {
    text-align: center; }

  .key {
    display: none; }

  .site-header__contact {
    text-align: center; }
    .site-header__contact p {
      text-align: center; }

  .site-header__logo {
    display: block;
    margin-bottom: 20px; }

  .first-screen__title {
    margin: 15px auto;
    font-size: 30px; }

  .first-screen__subtitle {
    font-size: 18px;
    margin-bottom: 30px; }

  .first-screen__form-input {
    min-width: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    font-size: 17px;
    text-align: center; }

  .first-screen__form-submit {
    display: block;
    width: 100%;
    font-size: 17px;
    font-weight: 600; }

  .first-screen__form {
    margin-bottom: 30px; }

  .first-screen {
    min-height: 0; }

  .about-section__block-image--big {
    height: 300px;
    position: relative; }

  .about-section__block-image--medium {
    height: 210px; }

  .about-section__block h2 {
    font-size: 25px;
    margin-bottom: 15px; }

  .about-section__block p {
    font-size: 20px; }

  .about-section__link {
    font-size: 23px;
    font-weight: 600; }

  .numbers-section__title {
    font-size: 25px; }

  .numbers-section__block {
    margin-bottom: 50px; }

  .about-section {
    margin-bottom: -50px; }

  .video-prezentation__title, .ask-question__title, .have-question__title {
    font-size: 25px;
    margin-bottom: 30px; }

  .video-prezentation__video {
    height: 220px;
    margin-bottom: 30px; }

  .global-red-link {
    font-size: 19px;
    font-weight: 600; }

  .video-prezentation, .ask-question, .our-products, .already-have-quest, .have-question {
    padding: 20px 0;
    text-align: center; }

  .ask-question__submit {
    margin-top: 20px; }

  .our-products__block h3, .already-have-quest__block h3 {
    font-size: 22px; }

  .our-products__block p, .already-have-quest__block p {
    font-size: 17px; }

  .already-have-quest:before, .already-have-quest:after {
    display: none; }

  .have-question {
    margin-top: 0; }

  .already-have-quest__link {
    margin-top: 15px; }

  .tingle-modal__closeLabel {
    display: none !important; }

  .custom-modal .tingle-modal-box {
    width: 100%; }

  .custom-modal .tingle-modal-box__content {
    padding: 15px; }

  .tingle-modal__closeIcon {
    margin: 0;
    font-size: 52px;
    line-height: 7px;
    position: relative;
    top: -7px; }

  .custom-modal .tingle-modal-box__content .relative-inner > h2 {
    font-size: 23px;
    margin-bottom: 10px; }

  .custom-modal .tingle-modal-box__content .relative-inner > h3 {
    font-size: 20px;
    margin-bottom: 10px; }

  .custom-modal .tingle-modal-box__content .popup__form-tel, .custom-modal .tingle-modal-box__content .popup__form-mail {
    font-size: 20px; }

  .custom-modal .tingle-modal-box__content {
    border-radius: 0; }

  .custom-modal .tingle-modal-box {
    border-radius: 0;
    background-color: #fff; }

  .custom-modal.thank-you-scenario-modal .tingle-modal-box__content .our-products__block-image {
    height: 140px; }

  .tingle-modal {
    background-color: #fff; }

  .thank-you-guest-modal .our-products__block {
    margin-bottom: 20px; }

  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .global-red-link {
    font-size: 15px;
    margin-bottom: 20px; }

  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .our-products__block-image {
    height: 200px; }

  .thank-you-scenario-modal .global-red-link {
    font-size: 16px; }

  .page-first-screen {
    min-height: 0;
    padding-bottom: 30px; }

  .page-content {
    padding: 20px 0; }
    .page-content img {
      max-width: 100%;
      display: block;
      width: 100%;
      margin-bottom: 15px;
      float: none; }

  .page-content h2 {
    font-size: 25px; }

  .site-header__contact {
    text-align: right; }
    .site-header__contact p {
      font-size: 13px; }
      .site-header__contact p:nth-of-type(1) {
        display: none; }
    .site-header__contact a {
      font-size: 13px; }

  .site-header__logo {
    text-align: left; }
    .site-header__logo img {
      width: 85px; }

  .about-section__block {
    margin-bottom: 60px; }

  .about-section__block-image {
    margin-bottom: 10px; } }

/*# sourceMappingURL=site.css.css.map */
