- error = @content_unit.errors.key?(:title) && @content_unit.errors[:title].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :title, :class => 'control-label'
  div class='controls'
    = f.text_area :title, :class => 'form-control input-large input-with-feedback', :autofocus => true
    span class='help-inline' = error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)
- error = @content_unit.errors.key?(:image) && @content_unit.errors[:image].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :image, :class => 'control-label'
  div class='controls'
    = f.file_field :image
    span class='help-inline' = error ? f.error_message_on(:image, :class => 'text-error') : pat(:example)
- error = @content_unit.errors.key?(:text) && @content_unit.errors[:text].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :text, :class => 'control-label'
  div class='controls'
    = f.text_area :text, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:text, :class => 'text-error') : pat(:example)
- error = @content_unit.errors.key?(:unit_type_id) && @content_unit.errors[:unit_type_id].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :unit_type_id, :class => 'control-label'
  div class='controls'
    = f.select :unit_type_id, :options => UnitType.all.map { |u| [u.name, u.id] }, :include_blank => true
    span class='help-inline' = error ? f.error_message_on(:unit_type_id, :class => 'text-error') : pat(:example)

div class="form-actions"
  = f.submit pat(:save), :class => 'btn btn-primary'
  |&nbsp;
  = f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  |&nbsp;
  = link_to pat(:cancel), url(:content_units, :index), :class => 'btn btn-default'