ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat(:list)), url(:content_units, :index)
  li = link_to tag_icon(:plus, pat(:new)), url(:content_units, :new)
  li class="active" = link_to tag_icon(:edit, pat(:edit)), url(:content_units, :edit, :id => @content_unit.id)

div class="tabs-content"
  = form_for :content_unit, url(:content_units, :update, :id => @content_unit.id), :method => :put, :class => 'form-horizontal' do |f|
    = partial 'content_units/form', :locals => { :f => f }
