ul class="nav nav-tabs"
  li class="active" = link_to tag_icon(:list, pat(:list)), url(:content_units, :index)
  li = link_to tag_icon(:plus, pat(:new)), url(:content_units, :new)

div class="tabs-content"
  table class="table table-striped table-hover table-condensed" id="list"
    thead
      tr
        th class='header list-menu'
          div class='dropdown'
            a href='#' class='list-menu-toggle.dropdown-toggle dropdown-toggle' data-toggle='dropdown'
              = tag_icon :magic
              span class='caret'
            ul class='list-menu dropdown-menu' role='dropdown'
              li class='list-menu-wrapper' = link_to tag_icon('check-square-o', pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              li class='list-menu-wrapper list-menu-wrapper-disabled' = link_to tag_icon('square-o', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              li class='list-menu-divider divider'
              li class='list-menu-wrapper list-menu-wrapper-disabled'
                = link_to tag_icon('trash-o', pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                div class='list-menu-popover-delete-selected popover right'
                  div class='arrow'
                  h3 class='popover-title' = pat(:delete_selected_title)
                  div class='popover-content'
                    = form_tag url(:content_units, :destroy_many), :method => :delete do
                      = hidden_field_tag :content_unit_ids, :'data-delete-many-ids' => true
                      = submit_tag  pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      div class='btn btn-default btn-small cancel' = pat(:cancel)
        th class='header' = mat(:content_unit, :id)
        th class='header' = mat(:content_unit, :title)
        th class='header' = mat(:content_unit, :image)
        th class='header' = mat(:content_unit, :text)
        th class='header' = mat(:content_unit, :unit_type_id)
        th class='header list-row-action-header'

    tbody
      -@content_units.each do |content_unit|
        tr class='list-row'
          td class='list-column list-selectable' = check_box_tag 'content_unit_ids[]', :value => content_unit.id, :class => 'list-selectable-checkbox'
          td class='list-column' = content_unit.id
          td class='list-column' = content_unit.title
          td class='list-column' = content_unit.image
          td class='list-column' = content_unit.text
          td class='list-column' = content_unit.unit_type.name if content_unit.unit_type
          td class='list-column list-row-action'
            div class='list-row-action-wrapper'
              = link_to tag_icon(:edit), :href => url(:content_units, :edit, :id => content_unit.id), :rel => :tooltip, :title => "#{pat(:edit)} content_unit", :class => 'list-row-action-wrapper-link'
              = link_to tag_icon('trash-o'), :rel => :tooltip, :title => "#{pat(:delete)} content_unit", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              div class='popover list-row-action-popover-delete-one left'
                div class='arrow'
                h3 class='popover-title' = pat(:delete, :model => "content_unit")
                div class='popover-content'
                  = form_tag url(:content_units, :destroy, :id => content_unit.id), :method => :delete do
                    = submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    div class='btn btn-default btn-small cancel' = pat(:cancel)
