ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat(:list)), url(:content_units, :index)
  li class="active" = link_to tag_icon(:plus, pat(:new)), url(:content_units, :new)

div class="tabs-content"
  = form_for :content_unit, url(:content_units, :create), :class => 'form-horizontal' do |f|
    = partial 'content_units/form', :locals => { :f => f }
