- error = @unit_type.errors.key?(:name) && @unit_type.errors[:name].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :name, :class => 'control-label'
  div class='controls'
    = f.text_area :name, :class => 'form-control input-large input-with-feedback', :autofocus => true
    span class='help-inline' = error ? f.error_message_on(:name, :class => 'text-error') : pat(:example)

- error = @unit_type.errors.key?(:ru_name) && @unit_type.errors[:ru_name].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :ru_name, :class => 'control-label'
  div class='controls'
    = f.text_area :ru_name, :class => 'form-control input-large input-with-feedback', :autofocus => true
    span class='help-inline' = error ? f.error_message_on(:ru_name, :class => 'text-error') : pat(:example)

div class="form-actions"
  = f.submit pat(:save), :class => 'btn btn-primary'
  |&nbsp;
  = f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  |&nbsp;
  = link_to pat(:cancel), url(:unit_types, :index), :class => 'btn btn-default'