ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat(:list)), url(:unit_types, :index)
  li = link_to tag_icon(:plus, pat(:new)), url(:unit_types, :new)
  li class="active" = link_to tag_icon(:edit, pat(:edit)), url(:unit_types, :edit, :id => @unit_type.id)

div class="tabs-content"
  = form_for :unit_type, url(:unit_types, :update, :id => @unit_type.id), :method => :put, :class => 'form-horizontal' do |f|
    = partial 'unit_types/form', :locals => { :f => f }
