ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat(:list)), url(:unit_types, :index)
  li class="active" = link_to tag_icon(:plus, pat(:new)), url(:unit_types, :new)

div class="tabs-content"
  = form_for :unit_type, url(:unit_types, :create), :class => 'form-horizontal' do |f|
    = partial 'unit_types/form', :locals => { :f => f }
