@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* font-family: "MuseoSansRegular"; */
@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("./fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("./fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBold"; */
@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/MuseoSansBold/MuseoSansBold.eot");
    src: url("./fonts/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"),
    url("./fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
/* font-family: "MuseoSansItalic"; */
@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/MuseoSansItalic/MuseoSansItalic.eot");
    src: url("./fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"),
    url("./fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
/* font-family: "MuseoSansLight"; */
@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/MuseoSansLight/MuseoSansLight.eot");
    src: url("./fonts/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"),
    url("./fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
/* font-family: "MuseoSansMedium"; */
@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/MuseoSansMedium/MuseoSansMedium.eot");
    src: url("./fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
    url("./fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
/* font-family: "MuseoSansBlack"; */
@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/MuseoSansBlack/MuseoSansBlack.eot");
    src: url("./fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
    url("./fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
/* font-family: "MuseoSansBoldItalic"; */
@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
    src: url("./fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"),
    url("./fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 600;
}
/* font-family: "MuseoSansMediumItalic"; */
@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
    src: url("./fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"),
    url("./fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}
/* font-family: "MuseoSansLightItalic"; */
@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot");
    src: url("./fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"),
    url("./fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}
/* font-family: "MuseoSansBlackItalic"; */
@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot");
    src: url("./fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.woff") format("woff"),
    url("./fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 900;
}
