@media only screen and (min-width:1620px){}
@media only screen and (min-width:991px) and (max-width: 1199px) {
  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .global-red-link {
    font-size: 19px;
  }
  .float-left {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .ask-question__title {
    font-size: 50px;
  }
  .ask-question__block h4 {
    font-size: 19px;
  }
  .our-products__block p {
    font-size: 20px;
  }
}
@media only screen and (min-width:768px) and (max-width: 992px) {
  .key.key-6 {
    display: none;
  }
  .first-screen__form-input {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .about-section__block-image--big {
    height: 637px;
  }
  .about-section__block-image--medium {
    height: 250px;
  }
  .numbers-section__block:before {
    width: 168px;
  }
  .numbers-section__title {
    font-size: 40px;
  }
  .global-red-link {
    font-size: 20px;
  }
  .video-prezentation__video {
    height: 305px;
  }
  .video-prezentation p {
    font-size: 23px;
    margin-bottom: 25px;
  }
  .ask-question__title {
    font-size: 45px;
  }
  .ask-question__block h4 {
    font-size: 16px;
  }
  .ask-question__block {
    min-height: 380px;
  }
  .tingle-modal__close {
    color: #827f7f !important;
    position: absolute;
    top: 3%;
    right: 5%;
  }
  .thank-you-scenario-modal, .thank-you-guest-modal {
    .tingle-modal__close {
      top: 8%;
    }
  }
  .custom-modal.thank-you-scenario-modal .tingle-modal-box__content .our-products__block-image img {
    width: 420px;
  }
  .custom-modal .tingle-modal-box__content .relative-inner > h2 {
    font-size: 28px;
  }
  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .global-red-link {
    font-size: 18px;
    font-weight: 600;
  }
  
}
@media only screen and (max-width:767px) {
  .site-header {
    text-align: center;
  }
  .key {
    display: none;
  }
  .site-header__contact {
    text-align: center;
    p {
      text-align: center;
    }
  }
  .site-header__logo {
    display: block;
    margin-bottom: 20px;
  }
  .first-screen__title {
    margin: 15px auto;
    font-size: 30px;
  }
  .first-screen__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .first-screen__form-input {
    min-width: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    font-size: 17px;
    text-align: center;
  }
  .first-screen__form-submit {
    display: block;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
  }
  .first-screen__form {
    margin-bottom: 30px;
  }
  .first-screen {
    min-height: 0;
  }
  .about-section__block-image--big {
    height: 300px;
    position: relative;
  }
  .about-section__block-image--medium {
    height: 210px;
  }
  .about-section__block h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .about-section__block p {
    font-size: 20px;
  }
  .about-section__link {
    font-size: 23px;
    font-weight: 600;
  }
  .numbers-section__title {
    font-size: 25px;
  }
  .numbers-section__block {
    margin-bottom: 50px;
  }
  .about-section {
    margin-bottom: -50px;
  }
  .video-prezentation__title, .ask-question__title, .have-question__title {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .video-prezentation__video {
    height: 220px;
    margin-bottom: 30px;
  }
  .global-red-link {
    font-size: 19px;
    font-weight: 600;
  }
  .video-prezentation, .ask-question, .our-products, .already-have-quest, .have-question {
    padding: 20px 0;
    text-align: center;
  }
  .ask-question__submit {
    margin-top: 20px;
  }
  .our-products__block h3, .already-have-quest__block h3 {
    font-size: 22px;
  }
  .our-products__block p, .already-have-quest__block p {
    font-size: 17px;
  }
  .already-have-quest:before, .already-have-quest:after {
    display: none;
  }
  .have-question {
    margin-top: 0;
  }
  .already-have-quest__link {
    margin-top: 15px;
  }
  .tingle-modal__closeLabel {
    display: none !important;
  }
  .custom-modal .tingle-modal-box {
    width: 100%;
  }
  .custom-modal .tingle-modal-box__content {
    padding: 15px;
  }
  .tingle-modal__closeIcon {
    margin: 0;
    font-size: 52px;
    line-height: 7px;
    position: relative;
    top: -7px;
  }
  .custom-modal .tingle-modal-box__content .relative-inner > h2 {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .custom-modal .tingle-modal-box__content .relative-inner > h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .custom-modal .tingle-modal-box__content .popup__form-tel, .custom-modal .tingle-modal-box__content .popup__form-mail {
    font-size: 20px;
  }
  .custom-modal .tingle-modal-box__content {
    border-radius: 0;
  }
  .custom-modal .tingle-modal-box {
    border-radius: 0;
    background-color: #fff;
  }
  .custom-modal.thank-you-scenario-modal .tingle-modal-box__content .our-products__block-image {
    height: 140px;
  }
  .tingle-modal {
    background-color: #fff;
  }

  .thank-you-guest-modal {
    .our-products__block {
      margin-bottom: 20px;
    }
  }

  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .global-red-link {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .custom-modal.thank-you-guest-modal .tingle-modal-box__content .our-products__block-image {
    height: 200px;
  }

  .thank-you-scenario-modal {
    .global-red-link {
      font-size: 16px;
    }
  }

  .page-first-screen {
    min-height: 0;
    padding-bottom: 30px;
  }

  .page-content {
    padding: 20px 0;
    img {
      max-width: 100%;
      display: block;
      width: 100%;
      margin-bottom: 15px;
      float: none;
    }
  }

  .page-content h2 {
    font-size: 25px;
  }

  .site-header__contact {
    text-align: right;
    p {
      font-size: 13px;
      &:nth-of-type(1) {
        display: none;
      }
    }
    a {
      font-size: 13px;
    }
  }
  .site-header__logo {
    text-align: left;
    img {
      width: 85px;
    }
  }

  .about-section__block {
    margin-bottom: 60px;
  }
  .about-section__block-image {
    margin-bottom: 10px;
  }
}