$red: #ff2828;

.main-wrapper {
  background: #fff;
  font-family: "MuseoSans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
  overflow: hidden;
  zoom: .79;
}

.first-screen {
  background: linear-gradient(to right,  rgba(34,41,51,1) 0%,rgba(38,44,55,1) 100%);
  position: relative;
  min-height: 780px;
  color: #fff;
  padding-bottom: 30px;
  & > .container {
    position: relative;
    z-index: 2;
    .inner-relative {
      position: relative;
      z-index: 2;
    }
  }
}

.key {
  position: absolute;
  z-index: 1;
  &.key-1 {
    right: -50px;
    top: 85px;
  }
  &.key-2 {
    left: -110px;
    bottom: 0;
  }
  &.key-3 {
    left: -30px;
    top: 20px;
  }
  &.key-4 {
    top: -60px;
    right: 260px;
  }
  &.key-5 {
    left: 40px;
    bottom: 80px;
  }
  &.key-6 {
    left: 280px;
    top: -110px;
  }
  &.key-7 {
    right: -230px;
    bottom: 0;
  }
  &.key-8 {
    left: -43px;
    top: 200px;
  }
  &.key-9 {
    right: -30px;
    top: 150px;
  }
  &.key-10 {
    top: 850px;
    left: -250px;
  }
  &.key-11 {
    bottom: 100px;
    right: -90px;
  }
  &.key-12 {
    top: 0;
    left: -280px;
  }
  &.key-13 {
    bottom: 0;
    right: -50px;
  }
  &.key-14 {
    left: -30px;
    top: -30px;
  }
  &.key-15 {
    right: -100px;
    top: 300px;
  }
  &.key-16 {
    right: -50px;
    top: 400px;
  }
  &.key-17 {
    bottom: 0;
    right: -20px;
  }
  &.key-18 {
    left: -100px;
    top: 0;
  }
  &.key-19 {
    top: -10px;
    left: 110px;
  }
  &.key-20 {
    top: 150px;
    right: -160px;
  }
  &.key-21 {
    top: 350px;
    right: 230px;
  }
  &.key-22 {
    left: -40px;
    bottom: 100px;
  }
}

.site-header {
  padding-top: 45px;
  position: relative;
  z-index: 3;
}

.site-header__contact {
  text-align: right;
  p {
    text-align: right;
    font-size: 20px;
    margin-bottom: 3px;
  }
  a {
    color: #a5e9ff;
    font-size: 20px;
    transition: color .2s;
    text-decoration: underline;
    &:hover, &:focus {
      color: $red;
    }
  }
}

.first-screen__title {
  margin-top: 50px;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 45px;
  text-align: center;
}

.first-screen__subtitle {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin-bottom: 75px;
}

.first-screen__form {
  position: relative;
  text-align: center;
  margin-bottom: 80px;
}

.first-screen__form-input {
  padding: 15px 20px;
  border-radius: 5px;
  display: block;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #006ac4;
  color: #000;
  font-size: 27px;
  font-weight: 300;
  min-width: 540px;
  margin-right: 30px;
  &::-webkit-input-placeholder {
    color: #707070;
  }
  &:-moz-placeholder {
    color: #707070;
  }
  &:-ms-input-placeholder {
    color: #707070;
  }
}

.first-screen__form-submit {
  font-size: 27px;
  font-weight: 300;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: $red;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid $red;
}

.first-screen__go-down {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  transition:  color .2s;
  span {
    display: block;
  }
  &:hover {
    color: $red;
  }
}

.about-section {
  padding: 60px 0;
  background: linear-gradient(to bottom,  rgba(248,248,248,1) 64%,rgba(227,236,231,1) 100%);
  margin-bottom: -30px;
  & > .container {
    position: relative;
    z-index: 2;
    .inner-relative {
      position: relative;
      z-index: 2;
    }
  }
}

.container {
  .inner-relative {
    position: relative;
    z-index: 2;
  }
}


.about-section__block {
  margin-bottom: 20px;
  position: relative;
  display: block;
  overflow: hidden;
  h2 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
    color: #000;
    transition: color .2s;
  }
  p {
    font-weight: 300;
    font-size: 20px;
  }
  img {
    width: 100%;
    transition: transform .2s;
  }
  &:hover {
    h2 {
      color: $red;
    }
    img {
      transform: scale(1.12);
    }
  }
}

.about-section__block-image {
  border-top-right-radius: 30px;
  overflow: hidden;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.15);
  background: linear-gradient(to bottom,  rgba(248,248,248,1) 64%,rgba(227,236,231,1) 100%);
  position: relative;
}

.about-section__block-image--big {
  height: 723px;
  background: #000;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
  }
  &:hover {
    img {
      transform: translate(-50%,-50%) scale(1.12);
    }
  }
}

.about-section__block-image--medium {
  height: 309px;
}

.about-section__link-wrapper {
  text-align: center;
  margin-top: 30px;
}

.about-section__link {
  background-color: #ff2828;
  padding: 15px 30px;
  color: #fff;
  font-size: 27px;
  font-weight: 300;
  display: inline-block;
  border-radius: 10px;
  border-bottom: 3px solid #841111;
  &:hover, &:focus {
    color: #fff;
  }
}

.numbers-section {
  position: relative;
  min-height: 521px;
  background: url('../images/number-section.png') center no-repeat;
  background-size: cover;
  padding: 50px 0;
  padding-top: 70px;
  color: #fff;
  z-index: 4;
}

.numbers-section__title {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  margin-bottom: 97px;
}

.numbers-section__block {
  text-align: center;
  position: relative;
  height: 170px;
  span {
    font-weight: 500;
    font-size: 55px;
    margin-bottom: 30px;
    display: block;
  }
  p {
    font-weight: 300;
    font-size: 24px;
  }
  &:before {
    content: '';
    display: block;
    background: url('../images/numbers-section__block.png') center no-repeat;
    width: 197px;
    height: 197px;
    position: absolute;
    top: -52px;
    left: 50%;
    transform: translate(-50%,0);
  }
}

.loong-bg-wrapper {
  min-height: 2477px;
  background: url('../images/sky-bg.png') top center no-repeat;
  background-size: 100%;
}

.video-prezentation {
  padding: 60px 0;
  p {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 30px;
  }
  & > .container {
    position: relative;
    z-index: 2;
  }
}

.video-prezentation__title {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.global-red-link-wrapper {
  text-align: center;
}

.global-red-link {
  background-color: #ff2828;
  padding: 15px 30px;
  color: #fff;
  font-size: 27px;
  font-weight: 300;
  display: inline-block;
  border-radius: 10px;
  border-bottom: 3px solid #841111;
  &:hover, &:focus {
    color: #fff;
  }
}

.video-prezentation__video {
  position: relative;
  width: 100%;
  height: 350px;
  display: block;
  overflow: hidden;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
  }
}

.video-prezentation__video-play {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #f14742;
  font-size: 70px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  color: #fff;
  i {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%,-50%);
  }
}

.ask-question {
  padding: 60px 0;
  position: relative;
  z-index: 4;
}

.ask-question__title {
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.ask-question__textarea {
  padding: 29px 24px;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: 0px 0px 15px rgba(0,0,0,.15);
  font-weight: 300;
  color: #000;
  font-size: 20px;
  display: block;
  width: 100%;
  min-height: 175px;
  margin-bottom: 30px;
  &::-webkit-input-placeholder {
    color: #c4c3c3;
  }
  &:-moz-placeholder {
    color: #c4c3c3;
  }
  &:-ms-input-placeholder {
    color: #c4c3c3;
  }
}

.ask-question__subtitle {
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.ask-question__block {
  padding: 23px;
  background-color: #fafafa;
  text-align: center;
  min-height: 370px;
  margin-bottom: 30px;
  border: 2px solid transparent;
  transition: border-color .2s;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  h4 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 15px;
  }
  p {
    font-weight: 300;
    font-size: 17px;
  }
  &:hover, &:focus, &.active {
    border-color: #36d16f;
  }
}

.ask-question__block-image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  img {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
  }
}

.ask-question__submit {
  margin-top: 60px;
}

.our-products {
  padding: 60px 0;
  & > .container {
    position: relative;
    z-index: 2;
  }
}

.our-products__block {
  margin-bottom: 60px;
  position: relative;
  h3 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 15px;
  }
  p {
    font-weight: 300;
    font-size: 24px;
  }
}

.our-products__block-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 280px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,.15);
  border-top-right-radius: 30px;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
  }
}

.label {
  position: absolute;
  top: 43%;
  right: -6px;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  width: 120px;
  height: 49px;
  padding: 11px 0;
  padding-left: 27px;
  &.label--red {
    background: url('../images/label-red.png') center no-repeat;
  }
  &.label--blue {
    background: url('../images/label-blue.png') center no-repeat;
  }
}

.already-have-quest {
  padding: 60px 0;
  color: #fff;
  background-color: #191919;
  position: relative;
  z-index: 4;
  &:before {
    content: '';
    width: 110%;
    left: -5%;
    top: -50px;
    height: 100px;
    background-color: #191919;
    transform: rotate(-2deg);
    display: block;
    position: absolute;
  }
  &:after {
    content: '';
    width: 110%;
    left: -5%;
    bottom: -50px;
    height: 100px;
    background-color: #191919;
    transform: rotate(-2deg);
    display: block;
    position: absolute;
  }
}

.already-have-quest__title {
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 60px;
  text-align: center;
  color: #fff;
}

.already-have-quest__block {
  margin-bottom: 60px;
  display: block;

  h3 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 15px;
    color: #fff
  }
  p {
    font-weight: 300;
    font-size: 24px;
    color: #fff
  }
}

.already-have-quest__block-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 280px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,.15);
  border-top-right-radius: 30px;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
  }
}

.already-have-quest__link {
  margin-top: 60px;
}

.have-question {
  padding: 60px 0;
  background: url('../images/wall-bg.png') top center no-repeat;
  background-size: cover;
  min-height: 700px;
  margin-top: 30px;
  & > .container {
    position: relative;
  }
  .first-screen__form-input {
    border-color: #707070;
  }
}

.have-question__title {
  font-size: 60px;
  margin-bottom: 60px;
  font-weight: 500;
  text-align: center;
}

.have-question__text {
  padding-top: 30px;
  border-top: 1px solid #d4d4d4;
  h3 {
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 30px;
  }
  p {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.site-footer {
  padding: 40px 0;
  background-color: #191919;
  text-align: center;
  a {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    transition: color .2s;
    &:hover, &:focus {
      color: $red;
    }
  }
}

.popup {
  display: none;
}

.tingle-modal__close {
  outline: none !important;
}

.custom-modal {
  font-family: "MuseoSans", sans-serif;
  .relative-inner {
    position: relative;
    z-index: 2;
  }
  .tingle-modal-box {
    max-width: 950px;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    transform: scale(.79);
  } 
  .tingle-modal-box__content {
    max-width: 950px;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px;
    padding-top: 90px;
    position: relative;
    .relative-inner {
      & > h2 {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 43px;
        text-transform: uppercase;
      }
      & > h3 {
        font-weight: 300;
        font-size: 25px;
        margin-bottom: 50px;
      }
    }
    .popup__form {
      margin-top: 30px;
    }
    .popup__form-tel, .popup__form-mail {
      display: block;
      max-width: 450px;
      margin: 0 auto;
      margin-bottom: 25px;
      background-color: #fff;
      border: 1px solid #707070;
      color: #000;
      padding: 16px;
      width: 100%;
      text-align: center;
      font-weight: 300;
      font-size: 28px;
      border-radius: 5px;
      &::-webkit-input-placeholder {
        color: #707070;
      }
      &:-moz-placeholder {
        color: #707070;
      }
      &:-ms-input-placeholder {
        color: #707070;
      }
    }
  } 
  &.get-scenario-modal {
    .tingle-modal-box__content {
      text-align: center;
    }
  }
  &.thank-you-scenario-modal {
    .tingle-modal-box__content {
      .relative-inner {
        & > h2 {
          text-transform: initial;
          text-align: center;
        }
        & > h3 {
          text-align: center;
        }
      }
      .our-products__block {
        h3 {
          font-size: 25px;
        }
        p {
          font-size: 18px;
        }
      }
      .our-products__block-image {
        height: 160px;
        img {
          width: 100%;
        }
      }
    }
  }
  &.thank-you-guest-modal {
    .tingle-modal-box__content {
      .relative-inner {
        & > h2 {
          text-transform: initial;
          text-align: center;
        }
        & > h3 {
          text-align: center;
        }
      }
      .our-products__block {
        h3 {
          font-size: 25px;
        }
        p {
          font-size: 18px;
        }
      }
      .global-red-link {
        font-size: 20px;
        display: block;
        width: 100%;
        font-weight: 600;
      }
      .our-products__block-image {
        height: 260px;
      }
    }
    .our-products__block {
      margin-bottom: 20px;
    }
  }
}

.page-first-screen {
  background: url('../images/page-bg.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 580px;
  color: #fff;
  & > .container {
    position: relative;
    z-index: 2;
    .inner-relative {
      position: relative;
      z-index: 2;
    }
  }
}

.page-content {
  padding: 60px 0;
  position: relative;
  z-index: 3;
  h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
  }
  p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
    text-indent: 75px;
  }
}

.float-left {
  float: left;
  margin-right: 35px;
  margin-bottom: 35px;
}

.custom-modal.thank-you-guest-modal .tingle-modal-box__content .our-products__block p {
  min-height: 66px;
}

.popup__form-payments {
  margin: 30px auto;
}

.article-link {
  display: block;
  margin-bottom: 30px;
  img {
    display: block;
    border-top-right-radius: 30px;
  }
  span {
    font-weight: 300;
    font-size: 20px;
    color: #000;
    transition: color .2s;
  }
  &:hover, &:focus {
    span {
      color: $red;
    }
    .article-link-image {
      img {
        transform: scale(1.2);
      }
    }
  }
}

.article-link-image {
  height: 150px;
  overflow: hidden;
  margin-bottom: 15px;
  img {
    width: 100%;
    transition: transform .2s;
  }
}

.popup__form-payments-block {
  padding: 15px;
  background-color: transparent;
  border: 1px solid transparent;
  height: 100px;
  position: relative;
  transition: background-color .2s, border-color .2s;
  &:hover, &:focus, &.active {
    background-color: #f7f7f7;
    border-color: $red;
  }
  img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.overlay-access-inner {
  max-width: 750px;
  margin: 0 auto;
}

.overlay-access {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,.93);
  padding: 15px;
  padding-top: 100px;
  text-align: center;
  &.show {
    display: block;
  }
  h2 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 43px;
    text-transform: uppercase;
  }
  h3 {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 50px;
  }
  .popup__form {
    margin-top: 30px;
  }
  .popup__form-tel, .popup__form-mail {
    display: block;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: #fff;
    border: 1px solid #707070;
    color: #000;
    padding: 16px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    border-radius: 5px;
    &::-webkit-input-placeholder {
      color: #707070;
    }
    &:-moz-placeholder {
      color: #707070;
    }
    &:-ms-input-placeholder {
      color: #707070;
    }
  }
}

