main.main-wrapper
  
  section.first-screen
    header.site-header
      .container
        .col-xs-6
          a.site-header__logo href=""
            img src='./images/logo.png'
        .col-xs-6
          .site-header__contact
            p По всем вопросам
            p +7 (499) 110-46-87
            a href="mailto:artur@questquest.ru" artur@questquest.ru
    .container
      .inner-relative
        h1.first-screen__title Узнайте как открыть квест
        h2.first-screen__subtitle 
          | Мы поделимся накопленными знаниями и опытом
          br/
          |  более 80 организторов квестов
        // TODO надо ли в js?
        form.first-screen__form action='/client_request' method='post'
          input.form-name type="hidden" name="get_details" value="call me"
          input.first-screen__form-input type="tel" name="phone" placeholder="Введите номер телефона"/
          input.first-screen__form-submit type="submit" value="Узнать все детали"/
        .first-screen__go-down.scroll-na-element data-nav="about-section"
          span Будет полезно
          i.fa.fa-chevron-down aria-hidden="true"
      - ['5', '-1', '-2', '1','3','7','5'].each_with_index do |speed, index|
        img.rellax.key class="key-#{index + 1}" src="./images/key-#{index + 1}.png" data-relax-speed=speed
      end

  section.about-section
    .container
      .inner-relative
        .row
          .col-sm-6
            = partial "upper_content_unit", locals: { unit: get_unit(0), unit_class_image: "about-section__block-image--big" } if get_unit(0)
          .col-sm-6
            = partial "upper_content_unit", locals: { unit: get_unit(1), unit_class_image: "about-section__block-image--medium" } if get_unit(1)
            = partial "upper_content_unit", locals: { unit: get_unit(2), unit_class_image: '' } if get_unit(2)
      - ['1', '2', '2', '1'].each_with_index do |speed, index|
        img.rellax.key class="key-#{7 + index + 1}" src="./images/key-#{7 + index + 1}.png" data-relax-speed=speed
      end
    .about-section__link-wrapper
      a.about-section__link href="" Узнать о франшизе >

  = partial "number_section"

  section.loong-bg-wrapper
    = partial "video_prezentation_section"
    = partial "ask_question_section"

    section.our-products
      .container
        .col-md-10.col-md-offset-1.inner-relative
          .row
            - get_ranged_units(3..4).each do |unit|
              = partial "content_unit", locals: { unit: unit, unit_class: "our-products__block" }
          .row
            - get_ranged_units(5..6).each do |unit|
              = partial "content_unit", locals: { unit: unit, unit_class: "our-products__block"}
        - ['-1.2', '1.1', '-1.3', '-1.1'].each_with_index do |speed, index|
          img.rellax.key class="key-#{13 + index + 1}" src="./images/key-#{13 + index + 1}.png" data-relax-speed=speed
        end
  
  section.already-have-quest
    .container
      h2.already-have-quest__title
      .row
        - get_ranged_units(7..8).each do |unit|
          = partial "content_unit", locals: { unit: unit, unit_class: "already-have-quest__block"}
      .global-red-link-wrapper
        a.already-have-quest__link.global-red-link href="" Прокачать квест >
  
  = partial "have_question"
  
  footer.site-footer
    .container
      a href="" База знаний QuestQuest

  = partial "analiz_popup"

  = partial "get_scenario_popup"

  = partial "thank_you_scenario_popup"
  
  = partial "thank_you_guest_popup"
