main.main-wrapper
  section.page-first-screen
    header.site-header
      .container
        .col-sm-6
          a.site-header__logo href=""
            img src='./images/logo.png'
        .col-sm-6
          .site-header__contact
            p По всем вопросам
            p +7 (499) 110-46-87
            a href="mailto:artur@questquest.ru" artur@questquest.ru
    .container
      .inner-relative
        h1.first-screen__title = @page_content.title
  article.page-content
    /.overlay-access.show
      .overlay-access-inner
        /TODO решить с данными баннерами
        /h2 Спасибо! В течении 15 минут вы получите более 30 сценариев квестов на почту!
        /h3 А пока вы ждете, мы подготовили для вас полезную информацию
        /.row
        /  .col-sm-6
        /    .our-products__block
        /      .our-products__block-image
        /        img src='./images/products-4.jpg'
        /      h3 Вебинар
        /      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim vvelit esse cillum dolore eu fugiat
        /  .col-sm-6
        /    .our-products__block
        /      .our-products__block-image
        /        img src='./images/products-4.jpg'
        /      h3 Вебинар
        /      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim vvelit esse cillum dolore eu fugiat
        /.row
        /  .col-sm-12
        /    .our-products__block
        /      .our-products__block-image
        /        img src='./images/products-5.jpg'
        /      h3 Гостевое обучение
        /      p Получите всю базу информации по открытию квеста, даже если вы хотите открыть его самостоятельно!
        /.global-red-link-wrapper
        /  a.global-red-link href="" Оплатить гостевое обучение
        /- ['-1.3', '-1.2', '-1.4', '-1.2'].each_with_index do |speed, index|
        /  image.rellax-popup.key class="key-#{18 + index + 1}" src="./images/key-#{18 + index + 1}.png" data-relax-speed=speed
        /end
        /h2 Получите более 30 сценариев квестов
        /h3 Сценарии страшных, антуражных, детских и перфоманс-квестов бла бла бла бла бла бла бла бла
        /form.popup__form action=""
        /  input.popup__form-tel type="tel" name="" placeholder="+7 (___) ___-__-__"/
        /  input.popup__form-mail type="email" name="" placeholder="Введите e-mail"/
        /  .global-red-link-wrapper
        /    input.global-red-link.popup__form-submit.overlay-access-hide type="submit" value="Получить сценарии"/
    .container
      .row
        .col-md-3.col-sm-4
          - @content_units.each do |unit|
            - if unit.page_content.present?
              a.article-link = link_to url(:home, :show, :slug => unit.page_content.slug)
                .article-link-image
                  img src=unit.image.url
                span
                  = unit.title
            - else
              a.article-link
              .article-link-image
                img src=unit.image.url
              span
                = unit.title
        .col-md-9.col-sm-8
          = @page_content.text
  footer.site-footer
    .container
      a href="" База знаний QuestQuest
