.popup.analiz-popup
  .relative-inner
    h2 закажите анализ рынка в своем городе
    h3 Введите данные и выберите способ оплаты анализа рынка
    form.popup__form action='/get_contacts' method='post'
      input.data-unit type="hidden" name="unit-id" value="" id="analiz-unit-id"
      input.popup__form-tel type="tel" name="" placeholder="+7 (___) ___-__-__"/
      input.popup__form-mail type="email" name="" placeholder="Введите e-mail"/
      .popup__form-payments
        .row
          .col-sm-3
            .popup__form-payments-block
              img src="./images/visa.png"
          .col-sm-3
            .popup__form-payments-block
              img src="./images/webmoney.png"
          .col-sm-3
            .popup__form-payments-block
              img src="./images/yd.png"
          .col-sm-3
            .popup__form-payments-block
              img src="./images/qiwi.png"
      .global-red-link-wrapper
        input.global-red-link.popup__form-submit type="submit" value="Оплатить 67 рублей"/
  - ['-1.3', '-1.2', '-1.4', '-1.2'].each_with_index do |speed, index|
    image.rellax-popup.key class="key-#{18 + index + 1}" src="./images/key-#{18 + index + 1}.png" data-relax-speed=speed
  end