section.ask-question
  .container
    .col-md-10.col-md-offset-1
      h2.ask-question__title Задайте вопрос экспертам
      form.ask-question__form action=""
        .row
          .col-sm-8
            textarea.ask-question__textarea name="" placeholder="Введите текст вопроса..."
          .col-sm-4
            //TODO решить про баннер взятия контактов
            input.ask-question__submit.global-red-link type="submit" value="Задать вопрос >"
        input.ask-question__expert type="hidden" name="" value="Эксперт не выбран"/
        h3.ask-question__subtitle Выберите эксперта
        .row.ask-mobile-slider
          .col-sm-4
            .ask-question__block
              .ask-question__block-image
                img src='./images/expert-1.jpg'
              h4 Артур Богдарнов
              p Основатель QuestQuest, эксперт в интернет-маркетинге и привлечении ЦА.
          .col-sm-4
            .ask-question__block
              .ask-question__block-image
                img src='./images/expert-2.jpg'
              h4 Кирилл Ледовский
              p Специалист по сценариям и постройке квестов.
          .col-sm-4
            .ask-question__block
              .ask-question__block-image
                img src='./images/expert-3.jpg'
              h4 Антон Утыльев
              p Специалист по стройке и сотрудничеству с проектами.