- unit_content = capture do
  div class=unit_class
    div class="#{unit_class}-image"
      img src=unit.image.url
    h3
      = unit.title
    p
      = unit.text


.col-sm-6
  div class=(unit.unit_type.name if unit.unit_type && @request_cookies[unit.unit_type.name].nil?) data-unit=unit.id
    - if (unit.unit_type.blank? || @request_cookies[unit.unit_type.name]) && unit.page_content.present?
      a class=unit_class href=url(:home, :show, slug: unit.page_content.slug)
        = unit_content
    - else
      span class=unit_class
        = unit_content