.popup.get-scenario-popup
  .relative-inner
    h2 Получите более 30 сценариев квестов
    h3 Сценарии страшных, антуражных, детских и перфоманс-квестов бла бла бла бла бла бла бла бла
    form.popup__form action='/get_contacts' method='post'
      input.data-unit type="hidden" name="unit-id" value="" id="ask-for-contact-unit-id"
      input.popup__form-tel type="tel" name="phone" placeholder="+7 (___) ___-__-__"/
      input.popup__form-mail type="email" name="email" placeholder="Введите e-mail"/
      .global-red-link-wrapper
        input.global-red-link.popup__form-submit type="submit" value="Получить сценарии"
  - ['-1.3', '-1.2', '-1.4', '-1.2'].each_with_index do |speed, index|
    image.rellax-popup.key class="key-#{18 + index + 1}" src="./images/key-#{18 + index + 1}.png" data-relax-speed=speed
  end