section.have-question
  .container
    .inner-relative
      h2.have-question__title Появился вопрос?
      form.first-screen__form action='/client_request' method='post'
        input.form-name type="hidden" name="get_details" value="call me"
        input.first-screen__form-input type="tel" name="phone" placeholder="Введите номер телефона"/
        input.first-screen__form-submit type="submit" value="Позвоните мне"/
      article.have-question__text
        h3 SEO текст
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    img.rellax.key.key-18 src="./images/key-18.png" data-rellax-speed='1.1'
    .row
      .col-sm-3
        button.get-scenario-popup-show Показать попап Получить сценарии
      .col-sm-3
        button.thank-you-scenario-popup-show Показать попап Спасибо 30 сценариев
      .col-sm-3
        button.thank-you-guest-popup-show Показать попап Спасибо Гостевой доступ
      .col-sm-3
        button.analiz-popup-show Показать попап Анализ рынка