section.numbers-section
  .container
    h2.numbers-section__title Федеральная сеть квестов в реальности №1 в России
    .row
      .col-sm-3
        .numbers-section__block
          span#numbers-section__block-1 37
          p Городов QuestQuest
      .col-sm-3
        .numbers-section__block
          span#numbers-section__block-2 119
          p Квестов работают
      .col-sm-3
        .numbers-section__block
          span#numbers-section__block-3 73
          p Партнеров франчайзи
      .col-sm-3
        .numbers-section__block
          span#numbers-section__block-4
            | 30
          p Квестов строим