.popup.thank-you-guest-popup
  .relative-inner
    h2 Спасибо! В течении дня вам будет открыт гостевой доступ к базе знаний.
    h3 Хотите получить анализ рынка квестов в вашем городе или подбор помещения под квест?
    .row
      .col-sm-6
        .our-products__block
          .our-products__block-image
            img src='./images/products-3.jpg'
          .label.label--blue 5000 р
          h3 Подбор помещения
          p Мы подберем помещение, подходящее для открытия квеста блаблаблабал блабалаблабалбла
        .global-red-link-wrapper
          a.global-red-link href="" Хочу подбор помещения
      .col-sm-6
        .our-products__block
          .our-products__block-image
            img src='./images/products-2.jpg'
          .label.label--red 5000 р
          h3 Анализ рынка
          p Узнайте как обстоит ситуация с рынком квестов в вашем городе на сегодняшний день.
        .global-red-link-wrapper
          a.global-red-link href="" Хочу анализ рынка
  - ['-1.3', '-1.2', '-1.4', '-1.2'].each_with_index do |speed, index|
    image.rellax-popup.key class="key-#{18 + index + 1}" src="./images/key-#{18 + index + 1}.png" data-relax-speed=speed
  end