.popup.thank-you-scenario-popup
  input.data-unit type="hidden" name="unit-id" value="" id="thank-you-30-scenarios-unit-id"
  .relative-inner
    h2 Спасибо! В течении 15 минут вы получите более 30 сценариев квестов на почту!
    h3 А пока вы ждете, мы подготовили для вас полезную информацию
    .row
      .col-sm-6
        .our-products__block
          .our-products__block-image
            img src='./images/products-4.jpg'
          h3 Вебинар
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim vvelit esse cillum dolore eu fugiat
      .col-sm-6
        .our-products__block
          .our-products__block-image
            img src='./images/products-4.jpg'
          h3 Вебинар
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim vvelit esse cillum dolore eu fugiat
    .row
      .col-sm-12
        .our-products__block
          .our-products__block-image
            img src='./images/products-5.jpg'
          h3 Гостевое обучение
          p Получите всю базу информации по открытию квеста, даже если вы хотите открыть его самостоятельно!
    .global-red-link-wrapper
      a.global-red-link href="" Оплатить гостевое обучение
  - ['-1.3', '-1.2', '-1.4', '-1.2'].each_with_index do |speed, index|
    image.rellax-popup.key class="key-#{18 + index + 1}" src="./images/key-#{18 + index + 1}.png" data-relax-speed=speed
  end