- unit_content = capture do
  div class="about-section__block-image #{unit_class_image}"
    img src=unit.image
  h2
    = unit.title
  p
    = unit.text


- if (unit.unit_type.blank? || @request_cookies[unit.unit_type.name]) && unit.page_content.present?
  a.about-section__block href=url(:home, :show, slug: unit.page_content.slug) data-unit=unit.id
    = unit_content
- else
  span.about-section__block class=(unit.unit_type.present? ? unit.unit_type.name : nil) data-unit=unit.id
    = unit_content