section.video-prezentation
  .container
    .inner-relative
      h2.video-prezentation__title Видео презентация
      .row
        .col-sm-7
          a.video-link-popup.video-prezentation__video href="https://www.youtube.com/watch?v=NRw339i17yw"
            .video-prezentation__video-play
              i.fa.fa-play aria-hidden="true"
            = image_tag 'https://img.youtube.com/vi/NRw339i17yw/0.jpg'
        .col-sm-5
          p Посмотрие видео презентацию франшизы квестов #1 в России.
          p А так же получите вебинар, посвященный открытию квеста в своём городе!
          a.video-prezentation__link.global-red-link Получить вебинар >
    img.rellax.key.key-12 src="./images/key-12.png" data-rellax-speed='-1'
    img.rellax.key.key-13 src="./images/key-13.png" data-rellax-speed='-1.2'