- error = @page_content.errors.key?(:content_unit_id) && @page_content.errors[:content_unit_id].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :content_unit_id, :class => 'control-label'
  div class='controls'
    /= f.text_field :content_unit_id, :class => 'form-control input-large input-with-feedback', :autofocus => true
    = f.select :content_unit_id, :options => ContentUnit.all.map { |u| [u.title, u.id] }
    span class='help-inline' = error ? f.error_message_on(:content_unit_id, :class => 'text-error') : pat(:example)
- error = @page_content.errors.key?(:title) && @page_content.errors[:title].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :title, :class => 'control-label'
  div class='controls'
    = f.text_area :title, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)
- error = @page_content.errors.key?(:slug) && @page_content.errors[:slug].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :slug, :class => 'control-label'
  div class='controls'
    = f.text_area :slug, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:slug, :class => 'text-error') : pat(:example)
- error = @page_content.errors.key?(:image) && @page_content.errors[:image].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  /= f.label :image, :class => 'control-label'
  /div class='controls'
    = f.text_area :image, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:image, :class => 'text-error') : pat(:example)
/- error = @page_content.errors.key?(:text) && @page_content.errors[:text].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :text, :class => 'control-label'
  div class='controls'
    = f.text_area :text, :class => 'form-control input-large input-with-feedback redactor'
    span class='help-inline' = error ? f.error_message_on(:text, :class => 'text-error') : pat(:example)

div class="form-actions"
  = f.submit pat(:save), :class => 'btn btn-primary'
  |&nbsp;
  = f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  |&nbsp;
  = link_to pat(:cancel), url(:page_contents, :index), :class => 'btn btn-default'