ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat(:list)), url(:page_contents, :index)
  li = link_to tag_icon(:plus, pat(:new)), url(:page_contents, :new)
  li class="active" = link_to tag_icon(:edit, pat(:edit)), url(:page_contents, :edit, :id => @page_content.id)

div class="tabs-content"
  = form_for :page_content, url(:page_contents, :update, :id => @page_content.id), :method => :put, :class => 'form-horizontal' do |f|
    = partial 'page_contents/form', :locals => { :f => f }
