ul class="nav nav-tabs"
  li class="active" = link_to tag_icon(:list, pat(:list)), url(:page_contents, :index)
  li = link_to tag_icon(:plus, pat(:new)), url(:page_contents, :new)

div class="tabs-content"
  table class="table table-striped table-hover table-condensed" id="list"
    thead
      tr
        th class='header list-menu'
          div class='dropdown'
            a href='#' class='list-menu-toggle.dropdown-toggle dropdown-toggle' data-toggle='dropdown'
              = tag_icon :magic
              span class='caret'
            ul class='list-menu dropdown-menu' role='dropdown'
              li class='list-menu-wrapper' = link_to tag_icon('check-square-o', pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              li class='list-menu-wrapper list-menu-wrapper-disabled' = link_to tag_icon('square-o', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              li class='list-menu-divider divider'
              li class='list-menu-wrapper list-menu-wrapper-disabled'
                = link_to tag_icon('trash-o', pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                div class='list-menu-popover-delete-selected popover right'
                  div class='arrow'
                  h3 class='popover-title' = pat(:delete_selected_title)
                  div class='popover-content'
                    = form_tag url(:page_contents, :destroy_many), :method => :delete do
                      = hidden_field_tag :page_content_ids, :'data-delete-many-ids' => true
                      = submit_tag  pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      div class='btn btn-default btn-small cancel' = pat(:cancel)
        th class='header' = mat(:page_content, :id)
        th class='header' = mat(:page_content, :content_unit_id)
        th class='header' = mat(:page_content, :title)
        th class='header' = mat(:page_content, :slug)
        /th class='header' = mat(:page_content, :image)
        th class='header' = mat(:page_content, :text)
        th class='header list-row-action-header'

    tbody
      -@page_contents.each do |page_content|
        tr class='list-row'
          td class='list-column list-selectable' = check_box_tag 'page_content_ids[]', :value => page_content.id, :class => 'list-selectable-checkbox'
          td class='list-column' = page_content.id
          td class='list-column' = page_content.content_unit.title
          td class='list-column' = page_content.title
          td class='list-column' = page_content.slug
          /td class='list-column' = page_content.image
          td class='list-column' = page_content.text
          td class='list-column list-row-action'
            div class='list-row-action-wrapper'
              = link_to tag_icon(:edit), :href => url(:page_contents, :edit, :id => page_content.id), :rel => :tooltip, :title => "#{pat(:edit)} page_content", :class => 'list-row-action-wrapper-link'
              = link_to tag_icon('trash-o'), :rel => :tooltip, :title => "#{pat(:delete)} page_content", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              div class='popover list-row-action-popover-delete-one left'
                div class='arrow'
                h3 class='popover-title' = pat(:delete, :model => "page_content")
                div class='popover-content'
                  = form_tag url(:page_contents, :destroy, :id => page_content.id), :method => :delete do
                    = submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    div class='btn btn-default btn-small cancel' = pat(:cancel)
