ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat(:list)), url(:page_contents, :index)
  li class="active" = link_to tag_icon(:plus, pat(:new)), url(:page_contents, :new)

div class="tabs-content"
  = form_for :page_content, url(:page_contents, :create), :class => 'form-horizontal' do |f|
    = partial 'page_contents/form', :locals => { :f => f }
