doctype html
html
  head
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta charset="utf-8"
    meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"
    title QQ
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.6/css/jquery.fancybox.min.css"
    link rel="stylesheet" href="./stylesheets/tingle.css"/
    link rel="stylesheet" href="./stylesheets/site.css.css"/

    link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"
  body.page_classes
    = yield
    script crossorigin="anonymous" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" src="https://code.jquery.com/jquery-2.2.4.min.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.0.0/rellax.min.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.6/js/jquery.fancybox.min.js"
    script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"
    script src="./javascripts/jquery.animateNumber.min.js"
    script src="./javascripts/tingle.js"
    script src="./javascripts/all.js"
